    /*** General styles ***/
    .dotstyle-smalldotstroke .et-pb-controllers a,
    .dotstyle-flip .et-pb-controllers a,
    .dotstyle-puff .et-pb-controllers a,
    .dotstyle-fall .et-pb-controllers a {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    /*** General styles ***/
    