/*** Puff Effect ***/
.dotstyle-puff .et-pb-controllers a {
    position: relative !important;
    border: 2px solid #fff;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
}

.dotstyle-puff .et-pb-controllers a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: #c44d48;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1px #c44d48;
    box-shadow: 0 0 1px #c44d48;
    opacity: 0;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease, visibility 0s 0.3s;
    -o-transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s, -webkit-transform 0.3s ease;
}

.dotstyle-puff .et-pb-controllers a:hover,
.dotstyle-puff .et-pb-controllers a:focus,
.dotstyle-puff .et-pb-controllers a.et-pb-active-control {
    border-color: #c44d48;
}

.dotstyle-puff .et-pb-controllers a.et-pb-active-control:after {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
/*** END Puff Effect ***/