/*** Small Dot with Stroke Effect ***/
.dotstyle-smalldotstroke a.et-pb-active-control:before {
    content: "" !important;
    position: absolute;
    visibility: visible;
    opacity: 1;
    border: 2px solid rgba(233,109,104,1);
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    top: -9px;
    left: -9px;
    padding: 7px;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.dotstyle-smalldotstroke .et-pb-controllers a {
    background-color: #fff !important;
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: background-color 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.dotstyle-smalldotstroke .et-pb-controllers a:hover,
.dotstyle-smalldotstroke .et-pb-controllers a:focus,
.dotstyle-smalldotstroke .et-pb-controllers a.et-pb-active-control {
    background-color: #fff !important;
}
.dotstyle-smalldotstroke .et-pb-controllers a.et-pb-active-control {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}
.dotstyle-smalldotstroke a.et-pb-active-control:before {
    -webkit-box-shadow: 0 0 0 2px rgba(233,109,104,1);
    box-shadow: 0 0 0 2px rgba(233,109,104,1);
}
/*** END Small Dot with Stroke Effect ***/