/*** Fall Effect ***/
.dotstyle-fall .et-pb-controllers a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    left: 0;
    background-color: #c44d48 !important;
    border-radius: 50%;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity 0.3s ease, visibility 0s 0.3s, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s, -webkit-transform 0.3s ease;
}
.dotstyle-fall .et-pb-controllers a {
    -webkit-transition: opacity 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}

.dotstyle-fall .et-pb-controllers a:hover,
.dotstyle-fall .et-pb-controllers a:focus,
.dotstyle-fall .et-pb-controllers a.et-pb-active-control {
    background-color: #fff !important;
}

.dotstyle-fall .et-pb-controllers a.et-pb-active-control::after {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.dotstyle-fall .et-pb-controllers a.et-pb-active-control {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
/*** END Fall Effect ***/